@model Entities.ViewModels.Forum.ForumHomeViewModel;
@{
    ViewData["Title"] = "ForumAddCategory";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="ibox-content m-b-sm">
                    <div class="p-xs">
                        <h2 class="text-center">Создание категории</h2>
                    </div>
                </div>
                <div class="ibox-content forum-container">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Категория:</span>
                        </div>
                        <input id="catName" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="text-center">
                        <button id="myButton" type="button" class="btn btn-light" onclick="CreateCategory()">Создать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>