@model Entities.ViewModels.Forum.ForumCategoryCreationView;
@{
    ViewData["Title"] = "ForumAddForumCategory";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        <h2 class="text-center">Создание категории</h2>
                    </div>
                </div>

                <div class="ibox-content forum-container">
                    <form asp-controller="ForumCategoryCreation" asp-action="RedirectToCreateCategory" method="post">
                        <div class="form-group">
                            <label asp-for="@Model.CategoryName"></label>
                            <input asp-for="@Model.CategoryName" class="form-control" />
                            <span asp-validation-for="@Model.CategoryName" class="text-danger"></span>
                        </div>
                        <div class="text-center">
                            <button type="submit" value="Submit" class="btn-primary mt-2">Создать категорию</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>